<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand nav-link " href="/listing"><i class="fa-regular fa-compass"></i>
    &nbsp; Explore </a>
    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      
      <!-- <div class="ms-auto">
        <input type="text" value="" placeholder="Search listing" class="form-control">
        <button class="btn btn-dark btn-sm">
          Search
        </button>

      </div> -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex " role="search" method="post" action="/listing/?_method=PUT" >
          <input class="form-control me-2" type="search" name="query" placeholder="Search &nbsp; Listing" aria-label="Search">
          <button class="btn btn-dark d-flex" type="submit" id="submit"> <i class="fa-solid fa-magnifying-glass mt-1 ms-2 me-2"></i>Search </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto  <% if (currUser) { %> mt-3 <% } %> " >
        <a class="nav-link " href="/listing/new" >Airbnb your home</a>
        <% if (currUser) { %>   
          <p class="nav-link"><i class="fa-solid fa-user"></i> <b><%= currUser.username %></b></p>
          <a class="nav-link" href="/logout"><b>Logout</b></a>

          <% } %>
        <% if (!currUser) { %>
          <a class="nav-link " href="/signUp"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>

          <% } %>
      </div>
    </div>
  </div>
</nav>